/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  @include font-lato(400);
  @include fluid-text(16, 14);
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  line-height: 1.4;
  color: $text-black;
  background-color: $bg-white;
  overflow-y: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  padding: 0 20px;

  @include tablet {
    padding: 0 30px;
  }

  @include desktop {
    padding: 0 110px;
  }
}

.page__wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
