/* здесь используйте глобальные переменные */
$Lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;

$bg-white: #ffffff;
$bg-light-gray: #eaeaea;
$bg-gray: #f2f2f2;
$bg-gray-dark: #ebebeb;
$bg-green: #68b738;
$bg-green-dark: #5eaa2f;
$bg-black: #000000;
$bg-brown: #666666;

$text-black: #000000;
$text-white: #ffffff;
$text-gray: #f2f2f2;
$text-green: #68b738;
$text-dark-gray: #444444;
